* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
}

#box-principal {
  display: flex;
  height: 100%;
}

#sidebar {
  border: 1px solid;
  height: 100%;
  width: 15%;
  font-family: var(--fonte-principal);
}

#sidebar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 5%;
}